---
import Root from '../layouts/Root.astro'
---

<Root>
	<section slot="main-content">
		<h2>Bienvenidos al Blog de nuestros proyectos</h2>

		<p>
			En este blog compartimos proyectos creativos desarrollados desde el 谩rea
			de tecnolog铆a de nuestra instituci贸n. Aqu铆 podr谩s explorar ideas enfocadas
			en resolver desaf铆os reales, fomentando el aprendizaje colaborativo y la
			inclusi贸n.
		</p>

		<p>
			Nuestro objetivo es inspirar y demostrar c贸mo la tecnolog铆a puede ser una
			herramienta transformadora, promoviendo la equidad de g茅nero y abriendo
			oportunidades para todos.
		</p>

		<section>
			<h2>Proyectos</h2>

			<a href="/blog-actividades/activities/roboequal">
				<h3>RoboEqual</h3>
			</a>
			<p>
				 RoboEqual nace de la uni贸n entre "robot" y "equal", buscando impulsar
				la equidad de g茅nero en la rob贸tica. Este proyecto tiene como misi贸n
				empoderar a ni帽as, ni帽os y j贸venes a trav茅s de la educaci贸n en
				tecnolog铆a, creando un entorno diverso e inclusivo. Creemos que la
				innovaci贸n es para todos y el futuro tambi茅n. 
			</p>

			<a href="/blog-actividades/activities/semillero_teje">
				<h3>Semillero Teje+</h3>
			</a>
			<p>
				 Teje+ es un espacio enfocado en integrar la equidad de g茅nero en la
				tecnolog铆a. A trav茅s de talleres y proyectos en rob贸tica y programaci贸n,
				ofrecemos a j贸venes herramientas para desarrollarse sin l铆mites,
				fomentando la creatividad y el trabajo en equipo. 
			</p>
		</section>

		<h2>Nuestra Filosof铆a</h2>

		<p>
			En cada proyecto buscamos generar un impacto positivo mediante la
			innovaci贸n y la colaboraci贸n. Creemos que el trabajo en equipo es clave
			para superar desaf铆os y encontrar soluciones creativas a problemas del
			entorno.
		</p>

		<p>
			Promovemos un entorno inclusivo donde cada persona pueda explorar su
			potencial y contribuir con ideas. Nuestro compromiso es con la equidad y
			la diversidad, abriendo caminos en los campos de la rob贸tica y la
			tecnolog铆a para que todos puedan ser parte del cambio.
		</p>

		<p>
			Este blog es un espacio para documentar nuestro camino, compartir logros,
			aprendizajes y mostrar c贸mo cada proyecto es un paso hacia un futuro m谩s
			justo e inclusivo.
		</p>

		<h3>隆nete a la Innovaci贸n!</h3>

		<p>
			Te invitamos a explorar nuestros proyectos, compartir tus ideas y ser
			parte de esta comunidad. 隆Juntos podemos construir un mundo donde la
			tecnolog铆a sea un puente hacia nuevas oportunidades!
		</p>

		<p>隆Nos vemos en el blog!</p>

		<p>Olga Luc铆a G贸mez</p>
	</section>

	<!-- Original -->
	<!-- <Root>
	<section slot="main-content">
		<h2>Bienvenidos Al blog computacional</h2>

		<p>
			Dirigido a estudiantes de 8vo grado en la asignatura de <strong
				>"Taller Vocacional Del Pensamiento Computacional"</strong
			>
		</p>

		<p>
			La lectura y la escritura son fundamentales en el Pensamiento
			Computacional. La lectura ayuda a entender conceptos como algoritmos,
			mientras que la escritura facilita la expresi贸n clara de ideas a trav茅s de
			c贸digo. Ambas habilidades fomentan la creatividad, la resoluci贸n de
			problemas y la colaboraci贸n, esenciales en el mundo digital.
		</p>

		<p>
			En nuestro blog, encontrar谩s recursos para explorar el Pensamiento
			Computacional de manera pr谩ctica y divertida. Ofrecemos una experiencia de
			aprendizaje que incluye comprensi贸n de algoritmos, diagram de flujo y
			reflexi贸n mediante actividades colaborativas
		</p>

		<h2>Nuestra experiencia de aprendizaje</h2>

		<p>
			Queremos presentarte una emocionante experiencia de aprendizaje que hemos
			dise帽ado para integrar el Pensamiento Computacional en tus estudios. 驴Qu茅
			te parece si comenzamos con un vistazo general?
		</p>

		<h2>Experiencia de Aprendizaje: Integrando el Pensamiento Computacional</h2>

		<h3>Objetivos</h3>

		<ul>
			<li>
				Comprender los conceptos de algoritmo, diagrama de flujo y pensamiento
				computacional.
			</li>
			<li>
				Desarrollar habilidades pr谩cticas en la escritura de algoritmos y
				pseudoc贸digo.
			</li>
			<li>
				Fomentar la reflexi贸n y el intercambio de ideas a trav茅s del uso de un
				blog como plataforma educativa.
			</li>
			<li>
				Promover la colaboraci贸n y el aprendizaje entre pares mediante la
				exploraci贸n y retroalimentaci贸n de trabajos.
			</li>
		</ul>

		<h2>Roboecual</h2>

		<h2>Actividades a desarrollar</h2>

		<a href="/blog-actividades/activities/01/">
			<h3>
				Actividad 1: Comprendiendo los conceptos de algoritmo y diagrama de
				flujo
			</h3>
		</a>

		<ul>
			<li>
				Exploraremos ejemplos de algoritmos y diagramas de flujo a trav茅s de un
				video y la explicaci贸n del docente.
			</li>
			<li>
				Trabajaremos en grupos para crear algoritmos para situaciones
				cotidianas.
			</li>
			<li>
				Compartiremos nuestros algoritmos en el blog y discutiremos c贸mo
				resolver铆an las situaciones propuestas.
			</li>
		</ul>

		<a href="/blog-actividades/activities/02/">
			<h3>
				Actividad 2: Representaci贸n de algoritmos mediante diagramas de flujo
			</h3>
		</a>

		<ul>
			<li>
				Aprenderemos sobre la estructura y representaci贸n de los diagramas de
				flujo.
			</li>
			<li>
				Crearemos diagramas de flujo colaborativamente en parejas utilizando la
				plataforma Draw IO.
			</li>
			<li>
				Publicaremos y exploraremos los diagramas en el blog, ofreciendo
				retroalimentaci贸n constructiva a nuestros compa帽eros.
			</li>
		</ul>

		<h3>隆nete a nuestra comunidad!</h3>

		<p>
			Te invitamos a explorar nuestras actividades, participar activamente y
			compartir tus ideas y proyectos en nuestro blog. 隆Juntos, hagamos del
			Pensamiento Computacional una experiencia enriquecedora y divertida!
		</p>

		<p>隆Nos vemos en el blog!</p>

		<p>Olga Luc铆a G贸mez</p>
	</section>
</Root> -->
</Root>
