---
import Root from '../layouts/Root.astro'
---

<Root>
	<section slot="main-content">
		<h2>Bienvenidos Al blog computacional</h2>

		<p>
			En este blog exploraremos diferentes proyectos del area computacional que
			hemos realizado a trav茅s del 谩rea de tencolog铆a de nuestro colegio.
		</p>

		<p>
			Tambi茅n servir谩 de acceso para realizar actividades para aprender los
			principios del pensamiento computacional
		</p>

		<section>
			<h2>Proyectos</h2>

			<a href="/blog-actividades/activities/roboequal">
				<h3>Roboecual</h3>
			</a>
			<p>
				 Imaginemos una combinaci贸n entre "robot" y "equal" para impulsar la
				equidad de g茅nero en la rob贸tica, destacando la importancia de la
				innovaci贸n . Nuestro objetivo es empoderar a ni帽as, ni帽os y j贸venes a
				trav茅s de la educaci贸n en rob贸tica, promoviendo un entorno diverso e
				inclusivo en las 谩reas STEM. 隆El futuro es para todos!
			</p>

			<a href="/blog-actividades/activities/semillero_teje">
				<h3>Semillero Teje+</h3>
			</a>
			<p>
				 Les presento TEJE+, un semillero enfocado en la equidad de g茅nero a
				trav茅s de la rob贸tica y las 谩reas STEM. Queremos empoderar a ni帽as,
				ni帽os y j贸venes, d谩ndoles las herramientas necesarias para desarrollarse
				en tecnolog铆a sin limitaciones de g茅nero.
			</p>
		</section>

		<h3>Nuestra experiencia de aprendizaje</h3>

		<p>
			La lectura y la escritura son fundamentales en el Pensamiento
			Computacional. La lectura ayuda a entender conceptos como algoritmos,
			mientras que la escritura facilita la expresi贸n clara de ideas a trav茅s de
			c贸digo. Ambas habilidades fomentan la creatividad, la resoluci贸n de
			problemas y la colaboraci贸n, esenciales en el mundo digital.
		</p>

		<p>
			En nuestro blog, encontrar谩s recursos para explorar el Pensamiento
			Computacional de manera pr谩ctica y divertida. Ofrecemos una experiencia de
			aprendizaje que incluye comprensi贸n de algoritmos, diagram de flujo y
			reflexi贸n mediante actividades colaborativas
		</p>

		<p>
			Queremos presentarte una emocionante experiencia de aprendizaje que hemos
			dise帽ado para integrar el Pensamiento Computacional en tus estudios. 驴Qu茅
			te parece si comenzamos con un vistazo general?
		</p>

		<p>
			Es importante usar nuestro blog tambi茅n para dejar evidencia de todas
			nuestras actividades, proyectos y participaciones en eventos.
		</p>

		<h2>Experiencia de Aprendizaje: Integrando el Pensamiento Computacional</h2>

		<h3>Objetivos</h3>

		<ul>
			<li>
				Comprender los conceptos de algoritmo, diagrama de flujo y pensamiento
				computacional.
			</li>
			<li>
				Desarrollar habilidades pr谩cticas en la escritura de algoritmos y
				pseudoc贸digo.
			</li>
			<li>
				Fomentar la reflexi贸n y el intercambio de ideas a trav茅s del uso de un
				blog como plataforma educativa.
			</li>
			<li>
				Promover la colaboraci贸n y el aprendizaje entre pares mediante la
				exploraci贸n y retroalimentaci贸n de trabajos.
			</li>
		</ul>

		<h2>Actividades a desarrollar</h2>
		<a href="/blog-actividades/activities/01/">
			<h3>
				Actividad 1: Comprendiendo los conceptos de algoritmo y diagrama de
				flujo
			</h3>
		</a>

		<ul>
			<li>
				Exploraremos ejemplos de algoritmos y diagramas de flujo a trav茅s de un
				video y la explicaci贸n del docente.
			</li>
			<li>
				Trabajaremos en grupos para crear algoritmos para situaciones
				cotidianas.
			</li>
			<li>
				Compartiremos nuestros algoritmos en el blog y discutiremos c贸mo
				resolver铆an las situaciones propuestas.
			</li>
		</ul>

		<a href="/blog-actividades/activities/02/">
			<h3>
				Actividad 2: Representaci贸n de algoritmos mediante diagramas de flujo
			</h3>
		</a>

		<ul>
			<li>
				Aprenderemos sobre la estructura y representaci贸n de los diagramas de
				flujo.
			</li>
			<li>
				Crearemos diagramas de flujo colaborativamente en parejas utilizando la
				plataforma Draw IO.
			</li>
			<li>
				Publicaremos y exploraremos los diagramas en el blog, ofreciendo
				retroalimentaci贸n constructiva a nuestros compa帽eros.
			</li>
		</ul>

		<h3>隆nete a nuestra comunidad!</h3>

		<p>
			Te invitamos a explorar nuestras actividades, participar activamente y
			compartir tus ideas y proyectos en nuestro blog. 隆Juntos, hagamos del
			Pensamiento Computacional una experiencia enriquecedora y divertida!
		</p>

		<p>隆Nos vemos en el blog!</p>

		<p>Olga Luc铆a G贸mez</p>
	</section>
</Root>

<!-- Original -->
<!-- <Root>
	<section slot="main-content">
		<h2>Bienvenidos Al blog computacional</h2>

		<p>
			Dirigido a estudiantes de 8vo grado en la asignatura de <strong
				>"Taller Vocacional Del Pensamiento Computacional"</strong
			>
		</p>

		<p>
			La lectura y la escritura son fundamentales en el Pensamiento
			Computacional. La lectura ayuda a entender conceptos como algoritmos,
			mientras que la escritura facilita la expresi贸n clara de ideas a trav茅s de
			c贸digo. Ambas habilidades fomentan la creatividad, la resoluci贸n de
			problemas y la colaboraci贸n, esenciales en el mundo digital.
		</p>

		<p>
			En nuestro blog, encontrar谩s recursos para explorar el Pensamiento
			Computacional de manera pr谩ctica y divertida. Ofrecemos una experiencia de
			aprendizaje que incluye comprensi贸n de algoritmos, diagram de flujo y
			reflexi贸n mediante actividades colaborativas
		</p>

		<h2>Nuestra experiencia de aprendizaje</h2>

		<p>
			Queremos presentarte una emocionante experiencia de aprendizaje que hemos
			dise帽ado para integrar el Pensamiento Computacional en tus estudios. 驴Qu茅
			te parece si comenzamos con un vistazo general?
		</p>

		<h2>Experiencia de Aprendizaje: Integrando el Pensamiento Computacional</h2>

		<h3>Objetivos</h3>

		<ul>
			<li>
				Comprender los conceptos de algoritmo, diagrama de flujo y pensamiento
				computacional.
			</li>
			<li>
				Desarrollar habilidades pr谩cticas en la escritura de algoritmos y
				pseudoc贸digo.
			</li>
			<li>
				Fomentar la reflexi贸n y el intercambio de ideas a trav茅s del uso de un
				blog como plataforma educativa.
			</li>
			<li>
				Promover la colaboraci贸n y el aprendizaje entre pares mediante la
				exploraci贸n y retroalimentaci贸n de trabajos.
			</li>
		</ul>

		<h2>Roboecual</h2>

		<h2>Actividades a desarrollar</h2>

		<a href="/blog-actividades/activities/01/">
			<h3>
				Actividad 1: Comprendiendo los conceptos de algoritmo y diagrama de
				flujo
			</h3>
		</a>

		<ul>
			<li>
				Exploraremos ejemplos de algoritmos y diagramas de flujo a trav茅s de un
				video y la explicaci贸n del docente.
			</li>
			<li>
				Trabajaremos en grupos para crear algoritmos para situaciones
				cotidianas.
			</li>
			<li>
				Compartiremos nuestros algoritmos en el blog y discutiremos c贸mo
				resolver铆an las situaciones propuestas.
			</li>
		</ul>

		<a href="/blog-actividades/activities/02/">
			<h3>
				Actividad 2: Representaci贸n de algoritmos mediante diagramas de flujo
			</h3>
		</a>

		<ul>
			<li>
				Aprenderemos sobre la estructura y representaci贸n de los diagramas de
				flujo.
			</li>
			<li>
				Crearemos diagramas de flujo colaborativamente en parejas utilizando la
				plataforma Draw IO.
			</li>
			<li>
				Publicaremos y exploraremos los diagramas en el blog, ofreciendo
				retroalimentaci贸n constructiva a nuestros compa帽eros.
			</li>
		</ul>

		<h3>隆nete a nuestra comunidad!</h3>

		<p>
			Te invitamos a explorar nuestras actividades, participar activamente y
			compartir tus ideas y proyectos en nuestro blog. 隆Juntos, hagamos del
			Pensamiento Computacional una experiencia enriquecedora y divertida!
		</p>

		<p>隆Nos vemos en el blog!</p>

		<p>Olga Luc铆a G贸mez</p>
	</section>
</Root> -->
